body {
  font-family: Arial, sans-serif;
}
.event-details {
  background-color: var(--convene-white);
  color: var(--convene-blue);
  max-width: 600px;
  padding: 4rem;
  border: 1px solid var(--convene-gray);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.event-details h2 {
  color: var(--convene-blue);
  font-size: 1.8em;
  margin-bottom: 10px;
}

.event-logo {
  max-width: 100%;
  border-radius: 8px;
  margin: 10px 0;
}

.event-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.event-details ul li {
  margin: 10px 0;
  color: var(--convene-blue);
}

.event-details p {
  margin: 5px 0;
}

.event-details a {
  color: var(--convene-pink);
  text-decoration: none;
}

.event-details a:hover {
  text-decoration: underline;
}

.attendees {
  margin-top: 20px;
}

.attendees h3 {
  color: var(--convene-blue);
  font-size: 1.6em;
  border-bottom: 2px solid var(--convene-pink);
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.attendees-list {
  list-style-type: none;
  padding: 0;
}

.attendee {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--convene-gray);
  border-radius: 8px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--convene-blue);
}

.attendee p {
  margin: 2px 0;
  color: var(--convene-blue);
}

.attendee p strong {
  font-size: 1.1em;
  color: var(--convene-pink);
}