main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem auto;

  max-width: 80%;
}

.upcoming-events {
  color: #fe3073;

  margin: 0 0 1rem;
}

.event-name {
  color: black;
}

.event-list {
  gap: 1rem;

  color: white;
}

.event-details {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;

  gap: 10px;
}

.event-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;

  padding: 10px 5px;
  margin: 0 0 1rem;

  background: linear-gradient(45deg, #fe3073, #ff594b);
  border-radius: 10px;
}

.event-card a {
  text-decoration: none;
  color: rgb(156, 47, 47);
}

/* buttons css */

.going-buttons {
  display: flex;
  gap: 5px;
}

.going-buttons button {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.going-buttons button:active {
  scale: 1.1;
}

.info-button {
  background-color: white;
  color: #fe3073;
}

.selected-button {
  background-color: #ff978f;
  color: #fe3073;
}

.not-selected-button {
  background-color: white;
  color: #fe3073;

  scale: 1.1;
}
