.welcome-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.welcome-section h1 {
  color: var(--main-headline);
  margin-top: 6vh;
  font-size: 70px;
  animation: 2.5s ease-out 0s 1 slideInFromBottom;
  color: var(--convene-pink);
  text-shadow: 2px 3px 4px var(--convene-blue);
}

.welcome-section p {
  color: var(--main-nav-headline);
  font-size: 25px;
  margin: 25px 0;
  font-style: italic;
  animation: 2.5s ease-out 0s 1 opacityFadeIn;
  color: var(--convene-blue);
  text-shadow: 2px 3px 4px var(--convene-gray);
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(70vh);
    opacity: 0%;
  }

  50% {
    transform: translateY(0vh);
    opacity: 40%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes opacityFadeIn {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.card-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: var(--convene-blue);
  margin: auto;
  max-width: 75%;
  gap: 3rem;
  animation: 2.5s ease-out 0s 1 opacityFadeIn;
  margin-bottom: 3rem;
}

.right-card,
.left-card {
  width: 45%;
  background-color: #f0f0f0;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* HERE */
.home-activity-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-activity-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--convene-blue);
  border: 1px solid var(--convene-pink);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
}

.home-activity-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.home-activity-details h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--convene-white);
}

.home-activity-details p {
  margin: 0;
  color: var(--convene-pink);
}

.img-div {
  display: flex;
  justify-content: center;
  animation: 2.5s ease-out 0s 1 opacityFadeIn;
}

.img-div img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
