.placeholder {
  text-align: center;
  color: var(--convene-blue);
  background-color: var(--convene-pink);
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 10px;
}

.recieved {
  background-color: var(--convene-gray);
  color: var(--convene-blue);
  width: 20%;
}

.sent {
  margin-left: auto;
  background-color: var(--convene-pink);
  color: var(--convene-blue);
  width: 20%;
}

.message {
  border-radius: 10px;
  padding: 0.4em;
}

.conversation {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}
