.placeholder {
  text-align: center;
  color: var(--convene-blue);
  background-color: var(--convene-pink);
  width: 50%;
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 10px;
}

.recieved {
  background-color: var(--convene-gray);
  color: var(--convene-blue);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sent {
  margin-left: auto;
  background-color: var(--convene-pink);
  color: var(--convene-blue);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0.4em;
  min-width: auto;
  max-width: 45%;
  gap: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.convoWith {
  text-align: center;
  color: var(--convene-blue);
}

.conversation {
  width: 50%;
  max-height: 70vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: lightgray;
  border-radius: 10px;
  padding: 0.5em;

  overflow-y: scroll;
}

.inboxMain {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-left: auto;
}

.conversations {
  width: 30%;
  margin-top: 3em;
  height: 100%;
  padding: 0.5em;
  background-color: lightgray;
  border-radius: 10px;
  color: var(--convene-blue);
}

.chat-inputs {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: lightgray;
  padding: 0.5em 0;
}

.conversation input {
  padding: 0.1rem;
  border-radius: 5px;
  border: none;
}

.compose {
  display: flex;
  gap: 0.4em;
  justify-content: space-between;
}

.newMessage {
  width: 90%;
  height: 2em;
}

.convos {
  text-align: center;
}

.send {
  background-color: var(--convene-pink);
  color: var(--convene-blue);
  height: 2em;
  border: none;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin: 0.2em;
  border-radius: 10px;
}

.convoCard {
  background-color: var(--convene-white);
  border-radius: 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.4em;
}
