* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

ul.list-bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

ul.list-bubbles li {
  flex-direction: row;
  gap: 0.25rem;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem 0.25rem;
  color: var(--convene-white);
  background-color: var(--convene-pink);
  border-radius: 1rem;
}

ul.list-bubbles .list-bubble-delete {
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  border-radius: 1rem;
  background-color: var(--convene-blue);
  color: var(--convene-pink);
}