* {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  place-content: center;
}

h2 {
  color: var(--convene-blue);
  font-size: 1.8em;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--convene-pink);
}

li {
  list-style: none;
}

.page {
  color: var(--convene-blue);
  max-width: 70%;
  padding: 4rem;
  border: 1px solid var(--convene-gray);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--convene-blue);
}

ul.list-bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

ul.list-bubbles li {
  flex-direction: row;
  gap: 0.25rem;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem 0.25rem;
  color: var(--convene-white);
  background-color: var(--convene-pink);
  border-radius: 1rem;
}

ul.list-bubbles .list-bubble-delete {
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  border-radius: 1rem;
  background-color: var(--convene-blue);
  color: var(--convene-pink);
}