:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Convene Colors */
  --convene-blue: #0F2C43;
  --convene-pink: #EE7868;
  --convene-gray: #B3BEC5;
  --convene-white: #ffffff;
}
